fastapi
uvicorn[standard]

python-dotenv
pydantic

langchain-core
langchain-openai
langchain-community
langgraph>=0.2.7
langgraph-checkpoint-sqlite

httpx
requests

jinja2

python-docx
reportlab

tavily-python
langchain-community